.*
!.gitignore
!.htaccess

/sites/*
!/sites/all
!/sites/default

/sites/all/*
!/sites/all/modules
/sites/all/modules/*
!/sites/all/modules/custom

/sites/all/modules/custom/*
!/sites/all/modules/custom/custom_mn

/sites/default/*
!/sites/default/default.settings.php

/cache
/backup
/test*
/potx*

*.orig
*.mo

/*.txt
!/COPYRIGHT.txt
!/LICENSE.txt
!/robots.txt

drushrc.php
